* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,p,a{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #000000;
}

div{
    text-align: center;
}

.b-example-divider{
    height: 4rem;
}

body{
    background-image: url("../img/back.svg");
    background-size: auto;
}

/* Comienzo del Header */

header {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .btn-success {
    background-color: #662fd5;
    border-color: #662fd5;
}

header .btn-success:hover{
    background-color: #662fd5bd;
    border-color: #662fd5;
}
header .btn-outline-success{
    color: #704593;
    border-color: #459375;
}

header .text--btn1{
    color: #459375;
}

header .text--btn2{
    color: #ffffff;
}

/* Fin del Header */

/* Comienzo del Index */

#index .mod--font1{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #fff;
}
  
#index .mod--font2{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #077abf;
}

#index .mod--font3{
    font-family: 'Oxygen', sans-serif;
    color: #f8ee2d;
}

/* Fin del Index */

/* Comienzo de Servicios */

#servicios .mod--font1{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #fff;
}

#servicios .mod--font2{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #077abf;
}

#servicios .shadow{
    box-shadow: 0 .5rem 1rem #0778bfb8!important;
}

#servicios .mod--font3{
    color: #ffcd38;
    text-transform: uppercase;
}

#servicios .mod--font4{
    color: #fe8833;
    text-transform: uppercase;
}
/* Fin de Servicios */

/* Comienzo de Precios */

#precios .mod--font1{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #fff;
}

/* Fin de Precios */

/* Comienzo de Nosotros */

#nosotros .mod--font1{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #fff;
}

/* Fin de Nosotros */

/* Comienzo de Contactos */

/* Fin de Contactos */

/* Footer */

footer {
    background-color: #000;
    /* margin-bottom: 0px;
    height: 5rem; */

}

footer .mod--font2{
    color: #077abf;
    size: 0.5rem;

}

footer ul li {
    list-style: none;
    margin: 0px 10px;
    align-items: center;
}

footer a{
    color: #fff;
}

footer .justify-content-center{
    margin: 0px;
    align-items: center;
}

/* Fin del Footer */

