* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,p,a{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #000000;
}

.b-example-divider{
    height: 4rem;
}

body{
    background-image: url("../img/back.svg");
    background-size: auto;
}

/* Comienzo del Header */

header {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .btn-success {
    background-color: #662fd5;
    border-color: #662fd5;
}

header .btn-success:hover{
    background-color: #662fd5bd;
    border-color: #662fd5;
}
header .btn-outline-success{
    color: #704593;
    border-color: #459375;
}

header .text--btn1{
    color: #459375;
}

header .text--btn2{
    color: #ffffff;
}

/* Fin del Header */

/* Comienzo del Index */

#index .mod--font1{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #fff;
}
  
#index .mod--font2{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #077abf;
}

#index .mod--font3{
    font-family: 'Oxygen', sans-serif;
    color: #f8ee2d;
}

/* Fin del Index */

/* Comienzo de Servicios */

#servicios .mod--font1{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #fff;
}

#servicios .mod--font2{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #077abf;
}

#servicios .shadow{
    box-shadow: 0 .5rem 1rem #0778bfb8!important;
}

#servicios .mod--font3{
    color: #ffcd38;
    text-transform: uppercase;
}

#servicios .mod--font4{
    color: #fe8833;
    text-transform: uppercase;
}
/* Fin de Servicios */

/* Comienzo de Precios */

#precios .mod--font1{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #fff;
}

/* Fin de Precios */

/* Comienzo de Nosotros */

#nosotros .mod--font1{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #fff;
}

/* Fin de Nosotros */

/* Comienzo de Contactos */

#contactos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 2fr;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #077abf;
    border-radius: 25px;
}

#contactos .text__container{
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 10px;
}

#contactos .text__container ,h2 ,p{
    text-align: center;
}

#contactos .form__container{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#contactos .form__input{
    width: 250px;
    margin: 10px;
    border: 10px;
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 25px;
}

#contactos .form__check{
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
}

#contactos .form__check ,h3 ,div{
    text-align: center;
    margin: 10px;
}

#contactos .form__info{
    margin: 5px;
}

#contactos .form__info ,h4 ,textarea{
    text-align: center;
    margin: 10px;
}

#contactos .mod_1{
    color: #007d7e;
    text-transform: uppercase;
}

#contactos .boton{
    border-radius: 10px;
    justify-content: center;
    background-color: #12a9ad;
    font-size: 14px;
    border: none;
    margin: 0  auto;
    padding: 5px 50px;
    cursor:pointer;
    color: #ffffff;
}

#contactos .boton:hover {
   opacity: 0.7;
}
/* Fin de Contactos */

/* Footer */

footer {
    background-color: #000;
    /* margin-bottom: 0px;
    height: 5rem; */

}

footer .mod--font2{
    color: #077abf;
    size: 0.5rem;

}

footer ul li {
    list-style: none;
    margin: 0px 10px;
    align-items: center;
}

footer a{
    color: #fff;
}

footer .justify-content-center{
    margin: 0px;
    align-items: center;
}

footer .justify-content-around{
    
}

/* Fin del Footer */


/* Inicio de media query */

/* Fin de media query */

/* Inicio de KeyFrames */

@keyframes efecto__bounceIn{
    0% { transform: scale(1, 1); }
    50% {transform: scale(1.05, 1.05);}
    100% {transform: scale(1, 1);}
}

/* Fin de KeyFrames */