* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,p,a{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #000000;
}

div{
    text-align: center;
}

body{
    background-image: url("../img/back.svg");
    background-size: auto;

    .mod{
        &--font1{
            color: $mi-white;
        }
        &--font2{
            color: $mi-blue;
        }
        &--font3{
            text-transform: uppercase;
            color: $mi-yellow;
        }
        &--font4{
            text-transform: uppercase;
            color: $mi-orange;
        }
    }
}

.b-example-divider{
    height: 4rem;
}

.border-bottom {
    border-bottom: 1px solid #0097ad!important;
}