$mi-white: #fff;
$mi-black: #000000;
$mi-black-mod: #000000b2;
$mi-purple: #7a48bb;
$mi-purple-mod: #7a48bbcf;
$mi-green: #459375;
$mi-blue: #077abf;
$mi-blue1: #0066ff;
$mi-yellow: #ffcd38;
$mi-orange: #fe8833;